@model Teko.Web.ViewModels.NotificationViewModel
<li id="Notificaciones"  onclick="OpenCloseNotification();" class="dropdown">
    <a class="dropdown-toggle active" data-toggle="dropdown" onclick="OpenCloseNotification();" aria-expanded="false">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages in">

        @{if (Model.ListaComentariosDeNotificaciones.Count > 0)
            {
                foreach (var Notificacion in Model.ListaComentariosDeNotificaciones)
                {
                <li>
                    <a href="@Url.Action("Detalles", "Contenidos", new { id = SlugGenerator.GenerateContenidoSlug(Notificacion.Contenido.Id,Notificacion.Contenido.Nombre) })" class="active">
                        <div>
                            <strong>@Notificacion.Contenido.Nombre</strong>
                        </div>
                        <div>@Notificacion.Usuario.Nombre ha dejado un comentario</div>
                    </a>
                </li>
                <li class="divider"></li>

                }
            }
            else
            {
                <li>
                        <strong>No tienes notificaciones</strong>
                        <i class="fa fa-angle-right"></i>
                </li>
            }
        }
        <li>
            <a class="text-center" href="#">
                <strong>Ver tus subidas</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    
    </ul>
    <!-- /.dropdown-messages -->
</li>
<script>
    function OpenCloseNotification() {
        $("#Notificaciones").toggleClass("open");
    }
</script>